@model MVC_WebProject.Models.FieldControls

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FieldControls</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ControlName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Control1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Control1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Control2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Control2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
